.button  {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-green  {
  background: #586a45;
  color: #fff;
  float: right;
  margin-right: 17%;
  border-radius: 15px;
}

.button-blue  {
  background: #253344;
  color: #fff;

}

.button-blue:hover  {
  transition: all 0.3s ease-in-out;
  color: #b09c9c;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
  background: #aaa;
  transform: scale(1.1);
}

.button-green:hover  {
  transition: all 0.3s ease-in-out;
  color: #black;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
  background: #a86363;
  transform: scale(1.1);
}

@media (max-width: 640px) {
.button-green  {
  float: none;
}
}

@media (max-width:  360px) {
.button-green  {
  float: none;
}
}
